.navigate-arrow {
    font-size: 140px;
    margin-top: 10%;
    opacity: 0.05;
}

.navigate-arrow:hover {
    opacity: 0.4;
}

.tag-radius {
    border-radius: 30px;
}

#navigation > .enabled, #likeGroup > .enabled {
    color: green;
}

#favorite.enabled .glyphicon {
    color: yellow;

    /*border for star icon*/
    text-shadow: -1.1px 0 black, 0 1.1px black, 1.1px 0 black, 0 -1.1px black;
}

/*remove underline*/
#likeGroup a:hover {
    text-decoration: none !important
}

.enabled > #favoriteCount {
    color: black;
}

@media screen and (min-width: 768px) {
    #likeGroup {
        margin-right: 15px;
    }
}

.inner-thumbnail {
    background: black no-repeat center;
    background-size: contain;
    background-origin: border-box;
    margin-bottom: 0;
    padding: 0;
    height: 143px;
    width: auto;
}

.container-margin-top {
    margin-top: 4%
}

.share-init {
    white-space: pre;
}

.share-init a {
    opacity: 0.5;
}

.share-init a:hover {
    opacity: 1;
}

.row-tags {
    margin-top: 5px
}

#tags > a {
    margin-bottom: 5px;
    font-size: 11px;
}

/*.affix {
  margin-top: 30px;
  position: fixed;
}
.affix-top {
}
.affix-bottom {
  position: absolute;
}*/

@media screen and (max-width: 992px) {
    .affix {
        position: relative;
    }

    .index-tags {
        text-align: center;
    }
}

@media screen and (min-width: 992px) {
    .index-tags > a {
        width: 150px;
    }

    .index-tags > a > span.tag-name {
        width: 75%;
    }

    .index-tags > a > span.tag-name {
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
    }
}

@media screen and (min-width: 1200px) {
    .index-tags > a {
        width: 180px;
    }
}

.index-tags > a {
    margin-top: 3px;
    margin-bottom: 3px;
    padding-top: 2px;
    padding-left: 10px;
    border: none;
    color: #555;
    font-size: 11px;
    text-align: left;
}

.index-tags > a .btn-success, .index-tags > a > span.badge .btn-success {
    background-color: #5cb85c;
}

.index-tags > a .btn-default, .index-tags > a > span.badge .btn-default {
    background-color: #e7e7e7;
}

.index-tags > a > span.badge {
    font-size: 11px;
    background-color: #e7e7e7;
    color: #555;
    text-align: right;
    font-weight: normal
}

.btn-success > .tag-name {
    color: #fff;
}

/*danger tag*/
#danger.btn-success {
    background-color: #d43f3a;
}

/*color for badge in selected tag*/
.btn-success .badge {
    background-color: inherit !important;
    color: #fff !important;
}

em {
    font-size: 12px;
}

#viewsCount {
    font-size: 12px;
}

/*comments*/
#messages .panel-heading {
    padding: 0px;
    border-bottom: none;
    padding-left: 3px;
}

#messages .panel-body {
    padding: 10px;
    white-space: pre-line;
}

#messages .panel {
    margin-bottom: 5px;
}