<%- include('../layout/header', {title: title}) -%>

<div class="container">
    <%- include('../partials/webmsGrid', {webms: webms, viewPath: viewPath}) -%>
</div>

<script>
    var lastSeqid = '<%= lastSeqid %>';
    document.addEventListener("DOMContentLoaded", function () {
        moar.init(lastSeqid, '/api/doubles/moar', '/doubles');
    });
</script>

<script src="/main/moar.js"></script>
<script src="/utils.js"></script>