.navigate-arrow {
    font-size: 140px;
    margin-top: 10%;
    opacity: 0.05;
}

.navigate-arrow:hover {
    opacity: 0.4;
}

.tag-radius {
    border-radius: 30px;
}

#navigation > .enabled, #likeGroup > .enabled{
    color: green;
}

#likeABoss.enabled {
    color: black;
}

#favorite.enabled {
    color: red;
}

@media screen and (min-width: 768px) {
    #likeGroup {
        margin-right: 15px;
    }

    #favorite {
        margin-right: 5px;
    }
}

.inner-thumbnail {
    background: black no-repeat center;
    background-size: contain;
    background-origin: border-box;
    margin-bottom: 0;
    padding: 0;
    height: 143px;
    width: auto;
}

.container-margin-top {
    margin-top: 4%
}

/*.affix {
  margin-top: 30px;
  position: fixed;
}
.affix-top {
}
.affix-bottom {
  position: absolute;
}*/

@media screen and (max-width: 768px) {
    .affix {
        position: relative;
    }
}