.navigate-arrow {
    font-size: 140px;
    margin-top: 10%;
    opacity: 0.05;
}

.navigate-arrow:hover {
    opacity: 0.4;
}

.tag-radius {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}