<%- include('./layout/headerWithRandom', {title: title}) -%>

<div class="container">
    <div id="message" class="text-center hidden" style="margin-top: 5%; font-size: 16px;">
        <p>У вас еще нет избранных видео.</p>
        <p>Добавить видео в избранное можно на странице просмотра.</p>
    </div>

    <div id="webmsGrid">
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        favorites.init();
    });
</script>

<script src="/favorites.js"></script>
<script src="/utils.js"></script>
