<%- include('layout/header', {title: title}) -%>

<div class="container container-margin-top">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <%if (error) { %>
            <div class="alert alert-danger" role="alert">Произошла ошибка</div>
            <% } %>
            <form action="login" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">Логин</label>
                    <input type="text" class="form-control" name="login" placeholder="Логин" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Пароль</label>
                    <input type="password" class="form-control" name="secret" placeholder="Пароль" required>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

<%- include('layout/footer') -%>