<div id="panelComments" class="panel panel-default  <% if (comments.length === 0) { %> panel-body-hidden <% } %>">
    <div class="panel-heading">
        <form id="formComments" class="form-horizontal" role="form">
            <textarea id="comment" class="form-control" maxlength="140"></textarea>

            <div class="form-group row" style="margin-top: 5px; margin-bottom: 0px;">
                <div class="col-md-7 hidden-xs"></div>

                <div class="col-md-3 col-xs-8" style="padding-right: 0px;">
                    <input id="username" type="text" class="form-control input-sm" placeholder="Имя">
                </div>

                <div class="col-md-2 col-xs-4 text-right" style="padding-left: 5px;">
                    <button id="sendComment" class="btn btn-default btn-sm btn-block">Отправить</button>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-body" style="padding-bottom: 5px;">
        <ul id="messages" class="list-unstyled">
            <% comments.forEach(function(comment){ %>
            <li>
                <div class="panel panel-default panel-default">
                    <div class="panel-heading"><%= comment.name + ' ' + formatDate(new Date(comment.when)) %></div>
                    <div class="panel-body"><%= comment.msg %></div>
                </div>
            </li>
            <% }); %>
        </ul>
    </div>
</div>